html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}

p,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.page {
  width: 40%;
  padding: 0.625em 1.25em;
  background-color: #fff;
  border: 1px black solid;
}

.section {
  margin-bottom: 0.625em;
}

.info-container {
  margin-bottom: 0.625em;
}

.input-container,
.text-container {
  display: flex;
}

.label-container,
.text-field-container {
  width: 8.125em;
}

.text-div {
  overflow: auto;
  word-break: break-all;
  width: 26.875em;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.edit-delete-container {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0.625em 0;
  gap: 0.4375em;
}

.add-button {
  margin-top: 0.1875em;
}

.edit-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  transform: scale(1.2, 1.2);
}

.edit-button,
.delete-button {
  color: #008000;
}

.preview-button {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.125rem;
  padding: 0.5em 3em;
  border: 1px yellow solid;
  border-radius: 4px;
  cursor: pointer;
}

.preview-button:hover {
  background-color: rgb(76, 175, 80, 0.8);
}

#personal-info-field-empty-error,
#education-field-empty-error,
#work-experience-field-empty-error {
  color: #ff0000;
}

.preview-personal-info,
.preview-entry-container {
  display: flex;
  justify-content: space-between;
}

.preview-personal-info,
.preview-education,
.preview-work-experience,
.preview-entry-container {
  margin-bottom: 0.625em;
}

.preview-email-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.preview-email,
.preview-phone {
  display: flex;
  align-items: center;
  gap: 0.1875em;
}

.preview-date {
  overflow: auto;
  word-break: break-all;
  width: 8.125em;
}

.preview-info-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-break: break-all;
  width: 26.875em;
}

.preview-personal-info:hover,
.preview-section-header:hover,
.preview-entry-container:hover {
  background-color: rgb(179, 179, 179, 0.8);
  cursor: pointer;
}
