html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e5e5e5;
  font-size: 1.25rem;
}

#root {
  display: flex;
  justify-content: center;
}

p,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input[type='text'],
input[type='submit'],
input[type='button'] {
  font-size: 1.05rem;
}

textarea {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

.edit-page,
.preview-page {
  padding: 0.625rem 1.25rem;
  background-color: #fff;
}

.preview-page {
  min-height: 55rem;
}

.section {
  margin-bottom: 0.625rem;
}

.info-container {
  margin-bottom: 0.625rem;
}

.input-container,
.text-container {
  display: flex;
}

.label-container,
.text-field-container {
  width: 25%;
}

.text-div {
  overflow: auto;
  word-break: break-all;
  width: 75%;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.edit-delete-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0.625rem 0;
  gap: 0.4375rem;
}

.add-button {
  margin-top: 0.1875rem;
  font-size: 1.05rem;
}

.edit-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  transform: scale(1.2, 1.2);
}

.edit-button,
.delete-button {
  color: #008000;
}

.preview-button {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.125rem;
  padding: 0.5rem 3rem;
  border: 1px yellow solid;
  border-radius: 4px;
  cursor: pointer;
}

.preview-button:hover {
  background-color: rgb(76, 175, 80, 0.8);
}

#personal-info-field-empty-error,
#education-field-empty-error,
#work-experience-field-empty-error {
  display: flex;
  justify-content: center;
  color: #ff0000;
}

.preview-personal-info,
.preview-entry-container {
  display: flex;
  justify-content: space-between;
}

.preview-section-header h3 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #0074d9;
}

.preview-personal-info,
.preview-education,
.preview-work-experience,
.preview-entry-container {
  margin-bottom: 0.625rem;
  overflow: auto;
  word-break: break-all;
}

.preview-name {
  font-size: 2rem;
  font-weight: normal;
  color: #004075;
  width: 60%;
}

.preview-email-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
}

.preview-email,
.preview-phone {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}

.preview-date {
  width: 25%;
}

.preview-info-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.preview-date,
.preview-school-city,
.preview-company-city {
  font-weight: bold;
}

.preview-personal-info:hover,
.preview-section-header:hover,
.preview-entry-container:hover {
  background-color: rgb(179, 179, 179, 0.8);
  cursor: pointer;
}

@media only screen and (max-width: 505px) {
  body {
    background-color: #fff;
  }

  .edit-page,
  .preview-page {
    width: 100%;
    margin: 0;
    border: none;
    padding-bottom: 0;
  }

  .label-container,
  .text-field-container {
    width: 35%;
  }

  .text-div {
    width: 65%;
  }

  .to-from-input-container input[type='text'] {
    width: 4.5rem;
  }

  .preview-email-phone-container {
    font-size: 1rem;
  }

  .preview-date {
    width: 40%;
  }

  .preview-info-container {
    width: 60%;
  }

  input[type='text'] {
    width: 10rem;
  }
}

@media only screen and (min-width: 506px) {
  body {
    background-color: #fff;
  }

  .edit-page,
  .preview-page {
    width: 100%;
    margin: 0;
    border: none;
  }

  input[type='text'] {
    width: 10rem;
  }
}

@media only screen and (min-width: 650px) {
  input[type='text'] {
    width: 13.3rem;
  }
}

@media only screen and (min-width: 950px) {
  body {
    background-color: #e5e5e5;
  }

  .edit-page,
  .preview-page {
    width: 80%;
    margin: 0.625rem 0;
    border: 1px black solid;
  }
}

@media only screen and (min-width: 1100px) {
  .edit-page,
  .preview-page {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .page,
  .preview-page {
    width: 60%;
  }
}

@media only screen and (min-width: 1500px) {
  .edit-page,
  .preview-page {
    width: 50%;
  }
}

@media only screen and (min-width: 1800px) {
  .edit-page,
  .preview-page {
    width: 40%;
  }
}
