html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.from-to-container {
  display: flex;
  justify-content: space-between;
  width: 484px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  width: 515px;
}

.edit-section-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-delete-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.edit-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.edit-button {
  color: green;
}

.delete-button {
  color: gray;
}

#personal-info-field-empty-error,
#education-field-empty-error,
#work-experience-field-empty-error {
  color: red;
}

/* #work-experience-details {
  height: 30px;
  width: 355px;
} */
